{
    "api": "0.13",
    "space": "Maschinendeck",
    "logo": "http:\/\/maschinendeck.org\/images\/blacktocat.png",
    "url": "http:\/\/maschinendeck.org",
    "location": {
        "address": "GU+00FCterstra\u00dfe 21, 54295 Trier, Germany",
        "lon": 6.656069,
        "lat": 49.758097
    },
    "contact": {
        "ml": "public@maschinendeck.org",
        "twitter": "@Maschinendeck_",
        "jabber": "fidepus@maschinendeck.org"
    },
    "issue_report_channels": [
        "twitter"
    ],
    "state": {
        "open": false
    }
}
